<!doctype html>

<body bgcolor="white">
<title>My search page!</title>
<style>
dd {
    width:100%
}
</style>
<div style="width:100%">
<h3 style="background-color:black;color:lightgrey"> Wikipedia Film Search </h3>

<h1>Wikipedia film search page</h1>


<form action="/results" name="search" method="post">
    <dl>
        <p>Free text search:</p>
        <dd><textarea rows="4" cols="100" name="query"></textarea>
        <dd>Search in director: <input type="text" style="width:300px" name="director">
        <dd>Search in starring: <input type="text" style="width:300px" name="starring">
        <dd>Language search: <input list="language" name="language">
                            <datalist id="language">
                                <option value="English">
                                <option value="French">
                                <option value="Chinese">
                                <option value="Japanese">
                                <option value="Korean">
                                <option value="Germany">
                                <option value="Italian">
                                <option value="Spanish">
                                <option value="Indian">
                                <option value="Austrian">
                            </datalist>
        <dd>Country search: <input list="country" name="country">
                            <datalist id="country">
                                <option value="China">
                                <option value="South Korea">
                                <option value="United States">
                                <option value="Japan">
                                <option value="Russia">
                                <option value="Sweden">
                                <option value="Canada">
                                <option value="Malaysia">
                                <option value="India">
                                <option value="Austria">
                            </datalist>
        <dd>Location search: <input type="text" style="width:300px" name="location">
        <dd>Time search: <input type="text" style="width:300px" name="time">
        <dd>Runtime: min <input type="text" name="mintime"> max <input type="text" name="maxtime">
        <dd>Categories search: <input type="text" style="width:300px" name="categories">
        <dd><input type="submit" value="Search">
    </dl>
</form>
</div>
</body>