<!doctype html>

<body bgcolor="white">
<title>Food Find search page!</title>
<style>
dd {
    width:100%
}
</style>
<div style="width:100%">
<h3 style="background-color:black;color:lightgrey"> Food Find Search </h3>

<img src="https://i.ibb.co/zSwnNtG/food-finder-thumbnail.png" alt="drawing" width="40"/><h1>Food Find search page</h1>


<form action="/results" name="search" method="post">
    <dl>
        <p>Free text search:</p>
        <dd><textarea rows="2" cols="100" name="query"></textarea>
        <dd>Search in address: <input type="text" style="width:300px" name="address">
        <dd>Search in city: <input list="city" name="city">
                            <datalist id="city">
                                <option value="Chandler">
                                <option value="Scottsdale">
                                <option value="Mesa">
                                <option value="Phoenix">
                                <option value="Dublin">
                                <option value="Los Angeles">
                                <option value="Monterey Park">
                                <option value="San Diego">
                                <option value="Sacramento">
                            </datalist>
        <dd>State search: <input list="state" name="state">
                            <datalist id="state">
                                <option value="CA">
                                <option value="AZ">
                            </datalist>
        <dd>Review Count: min <input type="text" name="min_review"> max <input type="text" name="max_review">
        <dd>Stars: min <input type="text" name="min_star"> max <input type="text" name="max_star">
        <dd>Useful: min <input type="text" name="min_useful"> max <input type="text" name="max_useful">
        <dd>Cool: min <input type="text" name="min_cool"> max <input type="text" name="max_cool">
        <dd>Funny: min <input type="text" name="min_funny"> max <input type="text" name="max_funny">
        <dd>Date search: <input type="text" style="width:300px" name="date">
        <dd><input type="submit" value="Search">
    </dl>
</form>
</div>
</body>